{% extends "patient/add.html" %}

{% block form %}

    <div class="span7 offset2 alert alert-wanring">
        <h3>Patient fortsetzen</h3>

        <p>Der letzte Patient wurde noch nicht vollst&auml;ndig eingetragen. M&ouml;chten Sie diesen Patienten zun&auml;chst vervollst&auml;ndigen oder verwerfen?</p>

        <hr />

        <div class="centered">
            <form action="{% url delete_patient id=patient.id %}" rel="forward" method="post">
                {% csrf_token %}

                <a href="{% url add_prescription id=patient.id %}" class="btn btn-success btn-large">Vervollst&auml;ndigen</a>
                <input type="submit" class="btn btn-error btn-large" value="Verwerfen" />
            </form>
        </div>
    </div>

{% endblock %}