{% extends "base.html" %}

{% load admin_extras %}

{% block breadcrump_title %}
    <li class="active">
        <i class="icon-search"></i>
        Patienten suchen
    </li>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/css/form.css" />
{% endblock %}

{% block content %}

    <form action="{% url search_patient %}" method="get" class="form-search">
        <div class="input-append centered">
            <input type="text" name="query" value="{{ query|default:"" }}" class="input-xxlarge search-query" placeholder="Suchen Sie hier nach Patienten..." />
            <button type="submit" class="btn">Suchen</button>
        </div>
    </form>

    <hr />

    {% if not patients or patients|length == 0 %}
        <div class="inset">
            Es wurden keine Patienten gefunden.
        </div>
    {% endif %}

    {% if patients %}
        {% if paginator.num_pages > 1 %}
            <div class="pagination pagination-centered">
                <ul>
                    <li {% if not patients.has_previous %}class="disabled"{% endif %}>
                        <a href="{% url list_patients query=query page=patients.previous_page_number %}">&laquo;</a>
                    </li>

                    {% for i in paginator.page_range %}
                        <li {% if i == patients.number %}class="active"{% endif %}>
                            <a href="{% url list_patients query=query page=i %}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li {% if not patients.has_next %}class="disabled"{% endif %}>
                        <a href="{% url list_patients query=query page=patients.next_page_number }">&raquo;</a>
                    </li>
                </ul>
            </div>
        {% endif %}

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Geburtstag</th>
                    <th>Telefon</th>
                    <th>Anschrift</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr {% if patient.is_incomplete %}class="warning"{% endif %}>
                        <td>
                            <a href="{% url show_patient patient.id %}#{% url list_patients query=query page=page %}">
                                {{ patient }}
                            </a>
                        </td>
                        <td>{{ patient.get_birthday }}</td>
                        <td>
                            {% if patient.phone_private %}
                                {{ patient.phone_private }} <span class="label">Privat</span><br />
                            {% endif %}
                            {% if patient.phone_office %}
                                {{ patient.phone_office }} <span class="label">Gesch&auml;ftlich</span>
                            {% endif %}
                        </td>
                        <td>{{ patient.address }}</td>
                        <td>
                            <form action="{% url delete_patient id=patient.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" warning="Soll der Patient {{ patient }} wirklich gelöscht werden?" class="btn btn-link">
                                    <i class="icon-remove"></i>
                                    L&ouml;schen
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if paginator.num_pages > 1 %}
            <div class="pagination pagination-centered">
                <ul>
                    <li {% if not patients.has_previous %}class="disabled"{% endif %}>
                        <a href="{% url list_patients query=query page=patients.previous_page_number %}">&laquo;</a>
                    </li>

                    {% for i in paginator.page_range %}
                        <li {% if i == patients.number %}class="active"{% endif %}>
                            <a href="{% url list_patients query=query page=i %}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li {% if not patients.has_next %}class="disabled"{% endif %}>
                        <a href="{% url list_patients query=query page=patients.next_page_number }">&raquo;</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}