{% extends "base.html" %}

{% block breadcrump_title %}
    <li>
        <i class="icon-search"></i>
        <a rel="abort" href="">Patienten suchen</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <i class="icon-user"></i>
        Patienten anzeigen
    </li>
{% endblock %}

{% load admin_extras %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/prescription.js"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/css/form.css" />
{% endblock %}

{% block content %}

    <header>
        <h1><small>{{ patient.get_gender }}</small>{{ patient }}</h1>

        <form action="{% url delete_patient id=patient.id %}" rel="forward" method="post">
            {% csrf_token %}

            <div class="controls">
                <a rel="abort" class="btn">
                    <i class="icon-arrow-left"></i>
                    Zur&uuml;ck
                </a>
                <div class="btn-group">
                    <button rel="print" class="btn" target="{% url print_patient id=patient.id%}">
                        <i class="icon-print"></i>
                        Drucken
                    </button>
                    <button rel="forward" target="{% url edit_patient id=patient.id %}" class="btn">
                        <i class="icon-edit"></i>
                        Bearbeiten
                    </button>
                    <button type="submit" warning="Soll der Patient {{ patient }} wirklich gelöscht werden?" class="btn btn-danger">
                        <i class="icon-remove"></i>
                        L&ouml;schen
                    </button>
                </div>
            </div>
        </form>
    </header>

    <table class="table highlight-first table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <td>Geburtstag:</td>
                <td>{{ patient.get_birthday }}</td>
            </tr>
            <tr>
                <td>Anschrift:</td>
                <td>{{ patient.address }}</td>
            </tr>
            <tr>
                <td>Telefon (privat):</td>
                <td>{{ patient.phone_private }}</td>
            </tr>
            <tr>
                <td>Telefon (gesch&auml;ftlich):</td>
                <td>{{ patient.phone_office }}</td>
            </tr>
            <tr>
                <td>Privatpatient:</td>
                <td><i class="{% if patient.state == 'p' %}icon-check{% else %}icon-check-empty{% endif %}"></i></td>
            </tr>
            <tr>
                <td>BG-Rezept:</td>
                <td><i class="{% if patient.state == 'b' %}icon-check{% else %}icon-check-empty{% endif %}"></i></td>
            </tr>
            {% if patient.state == "k" %}
                <tr>
                    <td>Kasse:</td>
                    <td>{{ insurance }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <hr />

    <h3>Rezepte</h3>

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#new-prescription" data-toggle="tab">Neues Rezept</a>
            </li>

            {% if complete %}
                {% for prescription in patient.prescription_set.all|chronologic %}
                    <li>
                        <a href="#p{{ prescription.id }}" data-toggle="tab">{{ prescription.get_date }}</a>
                    </li>
                {% endfor %}
                    <li>
                        <a href="{% url show_patient id=patient.id %}" rel="forward">Weniger&hellip;</a>
                    </li>
            {% else %}
                {% for prescription in patient.prescription_set|chronologic|first5 %}
                    <li>
                        <a href="#p{{ prescription.id }}" data-toggle="tab">{{ prescription.get_date }}</a>
                    </li>
                {% endfor %}
                {% if patient.prescription_set|count > 5 %}
                    <li>
                        <a href="{% url show_patient_complete id=patient.id %}" rel="forward">Mehr&hellip;</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="new-prescription">
                {% if prescription %}
                    <form action="{% url add_prescription_template id=patient.id pid=prescription.id %}" rel="forward" method="post" class="form-horizontal">
                {% else %}
                    <form action="{% url add_prescription id=patient.id %}" rel="forward" method="post" class="form-horizontal">
                {% endif %}

                    {% include "prescription/form.html" %}

                    <div class="form-actions">
                        <input type="submit" class="btn btn-success" value="Rezept eintragen" />
                        <a href="{% url show_patient id=patient.id %}" rel="abort" class="btn" />Abbrechen</a>
                    </div>
                </form>
            </div>

            {% for prescription in patient.prescription_set.all|chronologic %}
                <div class="tab-pane" id="p{{ prescription.id }}">
                    <h3 class="pull-right">{{ prescription.get_date }}</h3>

                    {% include "prescription/view.html" %}

                    <hr />

                    <footer>
                        <form action="{% url delete_prescription id=patient.id pid=prescription.id %}" rel="forward" method="post">
                            {% csrf_token %}

                            <div class="controls">
                                <div class="btn-group">
                                    <button rel="print" target="{% url print_prescription id=patient.id pid=prescription.id %}" class="btn">
                                        <i class="icon-print"></i>
                                        Drucken
                                    </button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a rel="print" href="{% url print_prescription_inofficial id=patient.id pid=prescription.id %}">Inoffizielle Termine ausblenden</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button target="{% url prescription_template id=patient.id pid=prescription.id %}" rel="abort" class="btn">
                                        <i class="icon-file"></i>
                                        Als Vorlage verwenden
                                    </button>
                                    <button target="{% url edit_prescription id=patient.id pid=prescription.id %}" rel="forward" class="btn">
                                        <i class="icon-edit"></i>
                                        Bearbeiten
                                    </button>
                                    <button type="submit" warning="Soll das Rezept wirklich gelöscht werden?" class="btn btn-danger">
                                        <i class="icon-remove"></i>
                                        L&ouml;schen
                                    </button>
                                </div>
                            </div>
                        </form>
                    </footer>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
