{% extends "base.html" %}

{% block breadcrump_title %}
    <li>
        <i class="icon-search"></i>
        <a rel="abort">Patienten suchen</a>
        <span class="divider">/</span>
    </li>
    <li>
        <i class="icon-user"></i>
        <a rel="forward" href="{% url 'patient:show_patient' id=patient.id%}">{{ patient }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <i class="icon-edit"></i>
        Rezept bearbeiten
    </li>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/css/form.css" />
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/prescription.js"></script>
{% endblock %}

{% block content %}

    <form action="{% url 'patient:prescription:edit_prescription' id=patient.id pid=prescription.id %}" rel="forward" method="post" class="form-horizontal">

        {% include "prescription/form.html" %}

        <div class="form-actions">
            <input type="submit" class="btn btn-success" value="Speichern" />
            <a href="{% url 'patient:show_patient' id=patient.id %}" rel="forward" class="btn">Abbrechen</a>
        </div>

    </form>

{% endblock %}
