@import "constants";

.form-horizontal .control-label {
    width: @form-label-width;
}

.form-horizontal .controls {
    margin-left: @form-label-width + 20;
}

.form-horizontal .form-actions {
    padding-left: @form-label-width + 20;
}

form .info {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 12px;
    color: grey;
}

.inline-form div.controls-row {
    margin-bottom: 10px;
}

.inline-form .info {
    margin-bottom: 15px;
}

.inline-form .btn {
    width: 140px;
}

table.verify td:first-child {
    width: 25%;

    font-weight: bold;
}