@import "utils";
@import "constants";

html, body {
    .margin();

    font-size: 13px;
}

body {
    margin-bottom: 40px;
}

h1,
h2,
h3,
h4 {
    font-family: @font-highlight;

    i {
        margin-right: 20px;
    }
}

header {
    position: relative;

    margin-bottom: 40px;

    div.controls {
        position: absolute;

        top: 0px;
        right: 0px;

        .btn-group {
            display: inline-block;
        }
    }

    h1 {
        small {
            display: block;
            
        }
    }
}

a {
    &, &:visited, &:active {
        color: #5e5342;
    }

    &:hover {
        color: #958670;
        text-decoration: underline;
    }

    &.btn {
        color: #333 !important;

        &.btn-success {
            color: white !important;
        }
    }
}

form {
    margin: 0px;

    button {
        &.btn-link {
            margin: 0px;
            padding: 0px;
        }
    }
}

.form-actions {
    background-color: #fff;
}

.steps .description {
    color: rgba(51, 51, 51, .3);
}

.steps .description.active {
    color: #333;
}

.steps .description.done i {
    color: green;
}

.page-content {
    margin-top: @nav-height + 20;
}

.medium-break {
    margin-top: 10px;
}

.centered {
    text-align: center;

    display: block !important;
    margin: auto !important;
}

.centered input.search-query {
    padding-right: 13px;
    vertical-align: top;
}

.inset {
    text-align: center;
    margin-top: 200px;
    color: rgba(255, 255, 255, .5);
    font-size: 18px;

    .text-shadow(1px, rgba(0,0,0, .4), -1px, -1px);
}

.tabbable.tabs-left ul.nav.nav-tabs {
    min-height: 450px;
}

table.highlight-first td:first-child {
    width: 25%;

    font-weight: bold;
}