@import "utils";
@import "constants";

.thumbnail i.head {
	font-size: 100px;

	float: left;

	.padding(40px, 0px, 60px);
}

@ribbon-margin: -18px;

.ribbon {
    font-size: 20px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

    width: 50%;
    height: 1em;

    position: relative;
    background: #ba89b6;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

    font-family: @font-highlight;
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: @ribbon-margin;
    border: 1.5em solid #986794;
    z-index: -1;
}

.ribbon:before {
    left: 2 * @ribbon-margin;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon:after {
    right: 2 * @ribbon-margin;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #804f7c transparent transparent transparent;
    bottom: @ribbon-margin;
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon-content {
    .text-shadow(0px, #8a4c85, 3px, 3px);
}

.birthday(@float) {
    float: @float;
    font-size: 30px;
}

.ribbon-content i.left {
    .birthday(left);
}

.ribbon-content i.right {
    .birthday(right);
}

.birthdays {
    margin-top: 40px;
}

.birthdays .logo {
    position: relative;

    background-color: #ecb9b6;
}

.birthdays .logo .typo {
    position: absolute;

    padding-top: 100px;

    width: 50%;
    line-height: 80px;

    text-align: center;

    font-family: "Petit Formal Script";
    font-size: 70px;
    color: white;

    .text-shadow(1px, #a86460, 2px, 2px);
}

.birthdays .logo .content {
    padding: 20px;
    margin-left: 50%;

    height: 400px;

    border: 1px solid #DDD;
    border-left: 0px solid;

    text-align: center;

    background-color: white;
}

.birthdays .logo .content p.heading {
    font-family: "Petit Formal Script";
    font-size: 30px;

    margin-top: 30px;
    margin-bottom: 50px;

    line-height: 30px;

    .text-shadow(0px, #e6e6e6, 2px, 2px);
}

.birthdays div.patients {
    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: -20px;

    height: 200px; 

    overflow: scroll;
}

.birthdays p.patient {
    font-family: "Raleway Dots";
    font-size: 25px;
}

.birthdays .logo .content .patients p small {
    display: block;

    margin-top: 5px;

    color: rgba(0,0,0,.5);
}