@import "utils";
@import "constants";

.thumbnail i.head {
	font-size: 100px;

	float: left;

	.padding(40px, 0px, 60px);
}

@ribbon-margin: -18px;

.ribbon {
    font-size: 20px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

    width: 50%;
    height: 1em;

    position: relative;
    background: #ba89b6;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

    font-family: @font-highlight;
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: @ribbon-margin;
    border: 1.5em solid #986794;
    z-index: -1;
}

.ribbon:before {
    left: 2 * @ribbon-margin;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon:after {
    right: 2 * @ribbon-margin;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #804f7c transparent transparent transparent;
    bottom: @ribbon-margin;
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon-content {
    .text-shadow(0px, #8a4c85, 3px, 3px);
}

.birthday(@float) {
    float: @float;
    font-size: 30px;
}

.ribbon-content i.left {
    .birthday(left);
}

.ribbon-content i.right {
    .birthday(right);
}

.birthdays{
    text-align: center;
}