@import "utils";

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: -webkit-radial-gradient(center, farthest-side, rgba(0,0,0,0), rgba(0,0,0,.5)), url(../../img/linen.png);
}

form {
    color: white;
}

form h1 {
    color: rgba(255, 255, 255, .5);
    .text-shadow(1px, rgba(0, 0, 0, .4), -2px, -2px);

    font-size: 50px;

    text-align: center;

    margin-bottom: 50px;
}

.form-content p {
    margin-bottom: 20px;
}

.form-content {
    text-align: center;

    position: fixed;

    width: 700px;

    top: 50%;
    left: 50%;

    margin-top: -136px;
    margin-left: -400px;

    font-size: 18px;

    padding: 60px;
    padding-bottom: 70px;

    background-image: -webkit-radial-gradient(center, farthest-corner, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
    border: 1px solid rgba(255, 255, 255, .2);

    .shadow(100px, rgba(0, 0, 0, .5));
    .text-shadow(1px, rgba(0,0,0,.5), 2px, 2px);
    .rounded_corners(10px);
}

.form-actions {
    background-color: transparent;
}

.form-content input {
    font-size: 20px;

    height: 30px;
}

.form-content button {
    height: 40px;
}