.shadow(@size, @color, @top: 0px, @left: 0px) {
    box-shadow: @left @top @size @color;
    
    -o-box-shadow: @left @top @size @color;
    -webkit-box-shadow: @left @top @size @color;
    -moz-box-shadow: @left @top @size @color;
    -ms-box-shadow: @left @top @size @color;
}

.text-shadow(@size, @color: #000, @top: 0px, @left: 0px) {
	text-shadow: @color @top @left @size;
}

.size(@width, @height) {
	width: @width;
	height: @height;
}

.rounded_corners(@radius) {
    border-radius: @radius;
}

.margin(@top: 0px, @left: 0px, @bottom: 0px, @right: 0px) {
	margin-top: @top;
	margin-bottom: @bottom;
	margin-right: @right;
	margin-left: @left;
}

.padding(@top: 0px, @left: 0px, @bottom: 0px, @right: 0px) {
	padding-top: @top;
	padding-bottom: @bottom;
	padding-right: @right;
	padding-left: @left;
}

.page(@top: 0px, @left: 0px, @bottom: 0px, @right: 0px) {
	top: @top;
	bottom: @bottom;
	right: @right;
	left: @left;
}

.rotate(@deg) {
    transform: rotate(@deg);

    -o-transform:rotate(@deg);
    -webkit-transform:rotate(@deg);
    -moz-transform:rotate(@deg);
    -ms-transform:rotate(@deg);

    -webkit-backface-visibility: hidden;
}

.font(@family, @serif: sans-serif, @size: 12px) {
    font-family: @family, @serif;
    font-size: @size;
}

.radial-gradient(@start, @end, @dest:farthest-corner, @origin:center) {
    background-image: -webkit-radial-gradient(@origin, @dest, @start, @end);
    background-image: -moz-radial-gradient(@origin, @dest, @start, @end);
    background-image: -o-radial-gradient(@origin, @dest, @start, @end);
    background-image: -ms-radial-gradient(@origin, @dest, @start, @end);

    background-image: radial-gradient(@origin, @dest, @start, @end);
}