{% extends "add.html" %}

{% block title %}Rezept hinzuf&uuml;gen{% endblock %}

{% block steps %}
    <div class="steps">
        <p class="description active done">
            <i class="icon-check"></i>
            <strong>1. Schritt:</strong> Tragen Sie die pers&ouml;nlichen Informationen des Patienten ein.
        </p>

        <p class="description active">
            <i class="icon-check-empty"></i>
            <strong>2. Schritt:</strong> Erstes Rezept des Patienten eintragen. <emph>(optional)</emph>
        </p>

        <p class="description">
            <i class="icon-check-empty"></i>
            <strong>3. Schritt:</strong> &Uuml;berpr&uuml;fen Sie die Daten noch einmal und speichern Sie den Patienten.
        </p>
    </div>
{% endblock %}

{% block form %}
    <form class="form-horizontal">
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Weiter...</button>
            <button type="button" class="btn">Überspringen</button>
    </form>
{% endblock %}