{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/css/landing.css" />
{% endblock %}

{% block content %}

    <p class="ribbon">
        <strong class="ribbon-content"><i class="icon-gift left"></i>Herzlichen Gl&uuml;ckwunsch!<i class="icon-gift right"></i></strong>
    </p>    

    <div class="birthdays">
        <p>Heute kann den folgenden Patienten zum Geburtstag graturliert werden</p>

        {% for patient in patients %}
            {{patient}}
        {% endfor %}
    </div>

    <hr />

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <i class="head icon-asterisk"></i>
                <div class="caption">
                    <h3>Neuer Patient</h3>
                    <p>Tragen Sie einen neuen Patienten oder ein neues Rezept ein.</p>
                    <p>
                        <a class="btn btn-success" href="{% url add_patient %}">Patienten eintragen</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <i class="head icon-search"></i>
                <div class="caption">
                    <h3>Patienten suchen</h3>
                    <p>Finden Sie schnell und einfach einen Patienten.</p>
                    <p>
                        <a class="btn" href="{% url search %}">
                            <i class="icon-search"></i>
                            Suchen
                        </a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <i class="head icon-user-md"></i>
                <div class="caption">
                    <h3>&Auml;rzteverzeichnis</h3>
                    <p>Suchen und verwalten Sie die Liste aller &Auml;rzte Ihrer Patienten.</p>
                    <p>
                        <a class="btn" href="{% url docs %}">&Auml;rzte verwalten</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>

{% endblock %}